<div class="container">
    <div class="row">
        <div class="btn-toolbar">
            <div class="btn-group btn-group">
                <button type="button" class="btn btn-success" ng-click="save()">
                    <span class="glyphicon glyphicon-save"></span> Save
                </button>
                <button type="button" class="btn btn-danger" ng-click="delete()">
                    <span class="glyphicon glyphicon-remove"></span> Delete
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <tabset>
            <tab heading="Meta">
                <div class="col-lg-6">
                    <form role="form">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" placeholder="title" ng-model="BlogPost.Title">
                        </div>
                        <div class="form-group">
                            <label for="slug">Slug</label>
                            <input type="text" class="form-control" id="slug" placeholder="slug" ng-model="BlogPost.Slug">
                        </div>
                        <div class="form-group">
                            <label for="tags">Tags</label>
                            <input type="text" class="form-control" id="tags" placeholder="tag1,tag2,tag3" ng-model="BlogPost.TagsAsString">
                        </div>
                        <div class="form-group">
                            <label for="state">State</label>
                            <select id="state" class="form-control" ng-model="BlogPost.State" ng-options="state for state in States " />
                        </div>
                        <div class="form-group">
                            <label for="publishedOn">Published On</label>
                            <div class="input-group">
                                <input id="publishedOn" type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="BlogPost.PublishedOn" is-open="showPublishedOnSelector" close-text="Close" />
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </div>
                    </form>
                </div>
            </tab>
            <tab heading="Content">
                <div ui-ace="{
                         onLoad: editorLoaded
                        }" ng-model="BlogPost.Content"></div>
            </tab>
            <tab heading="Preview" select="preview()">
                <div>
                    <div class="article">
                        <header>
                            <h1>{{BlogPost.Title}}</h1>
                        </header>
                        <div data-ng-bind-html="previewContent">
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>