<div class="articles">
    <div class="comments">
        <div ng-repeat="comment in Comments" class="comment panel">
            <div class="one columns">
                <button ng-click="delete(comment.Id)">Delete</button>
            </div>
            <div class="ten columns">
                <h1>Written by {{comment.Author}} on {{comment.Created | fromNow}}</h1>
                <div>
                    <markdown ng-model="comment.Content"></markdown>
                </div>
            </div>
        </div>
    </div>
</div>