<div> 
    <dl class="tabs">
        <dt>View</dt>
        <dd><a id="meta">Meta</a></dd>
        <dd class="active"><a id="markdown">Markdown</a></dd>
        <dd><a id="preview">Preview</a></dd>
    </dl>
    <div class="button-bar">
        <ul class="button-group">
            <li><a class="button small" ng-click="save()">Save</a></li>
            <li><a class="alert button small" ng-click="delete()">Delete</a></li>
        </ul>
    </div>
    <ul class="tabs-content">
        <li id="metaTab">
            <div>
                <form>
                    <fieldset>
                        <legend>Details</legend>
                        <label>Id</label>
                        <input type="text" placeholder="Id" ng-model="Content.Id"/>
                    </fieldset>
                </form>
            </div>
        </li>
        <li class="active" id="markdownTab">
            <div class="editor" ace="markdown" ng-model="Content.Content"></div>
        </li>
        <li id="previewTab">
            <div>
                <div class="articles">
                    <div class="article">
                        <div class="content">
                            <markdown ng-model="Content.Content">
                            </markdown>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>