<form>
    <div class="row">
        <div class="two columns">
            <label class="right inline">Title</label>
        </div>
        <div class="ten columns">
            <input type="text" placeholder="Title" class="six" ng-model="Settings.Title"/>
        </div>
    </div>
    <div class="row">
        <div class="two columns">
            <label class="right inline">SubTitle</label>
        </div>
        <div class="ten columns">
            <input type="text" placeholder="SubTitle" class="six"  ng-model="Settings.SubTitle"/>
        </div>
    </div>
    <div class="row">
        <div class="two columns">
            <label class="right inline">Google Analytics Account</label>
        </div>
        <div class="ten columns">
            <input type="text" placeholder="UX" class="six"  ng-model="Settings.GoogleAccount"/>
        </div>
    </div>
    <div class="row">
        <div class="push-two ten columns">
            <button class="button" ng-click="save()">Save</button>
        </div>
    </div>
</form>