<div class="admin-form-view">
    <form role="form">
        <div class="form-group">
            <label for="titleInput">Title</label>
            <input type="text" class="form-control" id="titleInput" placeholder="main title" ng-model="Settings.Title">
        </div>
        <div class="form-group">
            <label for="subTitleInput">Subtitle</label>
            <input type="text" class="form-control" id="subTitleInput" placeholder="secondary title" ng-model="Settings.SubTitle">
        </div>
        <div class="form-group">
            <label for="googleAccountInput">Google Analytics</label>
            <input type="text" class="form-control" id="googleAccountInput" placeholder="UX" ng-model="Settings.GoogleAccount">
        </div>
        <button class="btn btn-success" ng-click="save()">Submit</button>
    </form>
</div>