<div class="admin-form-view">
    <form role="form">
        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="password" ng-model="password">
        </div>
        <div class="form-group">
            <label for="verificationInput">Verify password</label>
            <input type="password" class="form-control" id="verificationInput" placeholder="type the password again" ng-model="verification">
        </div>
        <button class="btn btn-success" ng-click="changePassword()" ng-disabled="!canSave">Submit</button>
    </form>
</div>