.navbar {
    border-radius: 0;
}

.articles {
    .make-row();

    .article {
        .make-lg-column(12);

        pre {
            background-color: #f8f8f8;
            border: 1px solid #ddd;
        }

            pre code {
                background: transparent;
                padding: 0;
            }
    }

    .comments {
        .make-lg-column(12);
    }
}

.admin-navbar {
    &:extend(.navbar all, .navbar-default all);
    margin-bottom: 0;
}

.admin-container {
   .container-fixed();

  @media (min-width: @screen-sm) {
    width: @container-sm;
  }
  @media (min-width: @screen-md) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: 100%; // make full width
  }

  margin-left: 0;
  margin-right:0;
  padding-left: 0;
  padding-right: 0;
}

.ace_editor {
    font-size: 16px !important;
    height: 82vh;
}

.admin-form-view {
    margin-top: 16px;

   &:extend(.container all);

   form {
       .make-lg-column(6);
   }
}
