<appSettings>
    <!-- This is used when installer is used to install or upgrade the installation of Tanka-->
    <add key="tanka/installer/key" value="MyCuteLittleBlog" />
    <add key="tanka/theme" value="/Content/themes/default/bootstrap.css" />
    <add key="tanka/hljs-theme" value="/Content/highlight/xcode.css" />
    <add key="disqus/shortname" value="disqus-shortname-here" />
</appSettings>